.dashboard {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #E5E5E5;
}

.menu-bar-mobile {
  display: none;
  position: sticky;
  top: 0;
  background-color: white;
  -webkit-box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.25);
  z-index: 10;
  padding: 8px 4px;
  font-size: 22px;
  color: gray;
}

.fab-button {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 16px;
}

.menu-bar-mobile svg {
  position: absolute;
  left: 16px;
  top: 24px
}

.icon-info{
  cursor: pointer;
  margin-left: 5px;
  color: white;
  background-color: black;
  border-radius: 100px;
}

.info-button:hover {
  background-color: rgba(128, 128, 128, 0.486);
  color: white;
}

.info-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  width: 100%;
  flex-wrap: wrap;
}

.info-wrapper .card {
  border-radius: 16px;
  background-color: white;
  -webkit-box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 6px 12px;
  flex: 1;
  display: flex;
  padding: 12px 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-wrapper .card .value {
  font-weight: 500;
  font-size: 32px;
}

.info-wrapper .card .value .value-total {
  font-weight: 500;
  font-size: 16px;
}

.chart-wrapper {
  border-radius: 16px;
  background-color: white;
  -webkit-box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 6px 12px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.map-filters-wrapper {
  border-radius: 16px;
  background-color: white;
  -webkit-box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  padding: 6px 12px;
  position: relative;
  flex-direction: column;
}

.map-filters-wrapper h2 {
  text-align: center;
}

.map-filters-wrapper-inside {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  position: relative;
}

.map-filters-wrapper .map-wrapper {
  flex: 1;
  height: 500px;
  position: relative;
}

.map-lower-left-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 16px;
  margin-bottom: 16px;
}

.map-lower-right-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 16px;
  margin-bottom: 16px;
}

.map-chart-button {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 16px;
  margin-bottom: 16px;
}

.map-upper-right-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 16px;
  margin-top: 16px;
}

.map-upper-left-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 16px;
  margin-top: 16px;
}

.map-upper-left-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 16px;
  margin-top: 16px;
}

.map-legend {
  border-radius: 6px;
  background-color: white;
  -webkit-box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 6px 12px;
  display: flex;
  flex-direction: column;
}

.map-filters {
  border-radius: 6px;
  background-color: white;
  -webkit-box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 18px 18px 12px 18px;
  display: flex;
  flex-direction: column;
}

.map-filters-mobile {
  border-radius: 6px;
  background-color: white;
  -webkit-box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 18px 18px 12px 18px;
  display: flex;
  flex-direction: column;
  margin: 12px 0px 0px 0px;
}

.map-legend .title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.map-legend .samples-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.map-legend .samples-info span {
  font-size: 10px;
  font-weight: 400;
}

.map-legend .samples-info .color {
  width: 10px;
  height: 10px;
  margin-right: 4px;
}

.button {
  width: 40px;
  height: 40px;
  border-radius: calc(40px/2);
  background-color: rgb(31, 187, 211);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);
  transition: all 0.25s;
  cursor: pointer;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}

.button.disabled {
  background-color: lightgray;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
  box-shadow: unset;
}

.flex-button {
  padding: 8px 18px;
  border-radius: 1000px;
  background-color: rgb(31, 187, 211);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);
  transition: all 0.25s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}

.flex-button:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.flex-button:active {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);
}

.flex-button span {
  font-weight: 600;
}

.button:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.button:active {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);
}

.map-filters-wrapper .filters {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  /* margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px; */
}

.footer {
  padding: 32px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tooltip-map {
  display: flex;
  flex-direction: column;
}

.tooltip-map .country {
  font-weight: 500;
  font-size: 18px;
}

.tooltip-map .additional-info {
  display: flex;
  flex-direction: column;
}

.tooltip-map .additional-info .genotype {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tooltip-map .additional-info .genotype .color {
  width: 10px;
  height: 10px;
  margin-right: 4px;
  border: 1px solid #F5F4F6;
}

.y-axis-label-vertical {
  transform: rotate(180deg);
  margin-bottom: 18px;
  writing-mode: vertical-rl;
}

.y-axis-label-horizontal {
  margin-left: 62px;
  margin-bottom: 8px;
  text-align: center;
}

.y-axis-label-horizontal-second-chart {
  margin-left: 82px;
  margin-bottom: 8px;
  text-align: center;
}

.chart-title {
  align-self: center;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  word-wrap: normal;
}

.download-sheet-button {
  padding: 4px 14px;
  border-radius: 1000px;
  background-color: rgb(31, 187, 211);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);
  transition: all 0.25s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  height: 40px;
}

.download-sheet-button:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.download-sheet-button:active {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35);
}

.about-wrapper {
  margin-top: 16px;
  border-radius: 16px;
  background-color: white;
  -webkit-box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 0px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 6px 26px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding-bottom: 15px;
}

.about-wrapper h2 {
  margin-bottom: 0;
}

.footer-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 24px;
  margin-bottom: -8px;
  padding: 0px 16px;
}

.modal-close-button {
  cursor: pointer;
  transition: 0.25s;
}

.modal-close-button:hover {
  opacity: 0.5;
}

.loading{
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.loading-2{
  position: fixed;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.308);
  color: white;
  font-weight: bold;
  font-size: 26px;
  margin-left: -16px;
}

.info{
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 16px;
  font-family: Montserrat;
  width: 925px;
  font-size: 14px;
  text-align: justify;
  visibility: hidden;
}

.info a {
  color: black;
}

.info-p {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.logoImageMenu-loading {
  height: 100px;
  align-self: center;
  padding-left: 20px;
}

@media (max-width: 767px) {
  .menu-bar-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .footer {
    flex-direction: column;
    text-align: center;
  }
  .footer span:nth-child(2) {
    margin-top: 10px;
  }
  .footer-buttons-wrapper {
    flex-direction: column;
    margin-bottom: -2px;
  }
  .footer-buttons-wrapper div {
    margin-top: 16px;
  }
}

.my-tooltip {
  background-color: rgba(255,255,255,1);
  border: solid rgba(0,0,0,0.25) 1px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.my-tooltip-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.my-tooltip-title-label {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
}

.my-tooltip-title-total {
  font-family: Montserrat;
  font-size: 16px;
  padding-left: 10px;
}

.my-tooltip-content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 14px;
}

.my-tooltip-content-individual {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.my-tooltip-content-square {
  height: 18px;
  width: 18px;
  border: solid rgb(0,0,0,0.75) 0.5px;
  flex: none;
}

.my-tooltip-content-info {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  width: 95%;
}

.my-tooltip-content-name, .my-tooltip-content-count, .my-tooltip-content-percent {
  font-family: Montserrat;
  color: rgba(0,0,0,0.75);
}

.my-tooltip-content-name {
  font-weight: 500;
  font-size: 14px;
  word-wrap: break-word;
}

.my-tooltip-content-count {
  font-size: 12px;
}

.my-tooltip-content-percent {
  font-size: 10px;
}

.PSC-label, .RDWAG-label, .DRT-label, .RFWG-label {
  text-anchor: middle;
}

.PSC-legend, .PSC-legend-div, .RDWAG-legend, .RDWAG-legend-div {
  height: 150px;
  display: flex;
  flex-direction: column;
}

.PSC-legend-div {
  flex-wrap: wrap;
  overflow-x: scroll;
  margin-left: 68px;
  justify-content: space-between;
  margin-top: 10px;
}

.PSC-legend-info, .RDWAG-legend-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 4px;
  margin-left: 3px;
  margin-right: 10px;
}

.PSC-legend-info-circle, .RDWAG-legend-info-circle, .DRT-legend-info-circle, .RFWG-legend-info-circle {
  height: 8px;
  width: 8px;
  border-radius: 4px;
  margin-top: 3px;
  flex-shrink: 0;
}

.PSC-legend-info-name, .RDWAG-legend-info-name, .DRT-legend-info-name, .RFWG-legend-info-name {
  font-size: 12px;
  padding-left: 4px;
  font-family: Montserrat;
}

.amr-tooltip-content {
  width: 250px;
}

.amr-tooltip-content-individual {
  display: flex;
  flex-direction: row;
  width: 48%;
  margin-bottom: 8px;
  padding-right: 3px;
}

.amr-tooltip-content-info {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  word-wrap: break-word;
  overflow-x: hidden;
}

.amr-tooltip-content-name {
  font-family: Montserrat;
  color: rgba(0,0,0,0.75);
  font-weight: 500;
  font-size: 13px;
}

.RDWAG-legend-div {
  flex-wrap: wrap;
  overflow-x: scroll;
  margin-left: 68px;
  margin-top: 10px;
}

.DRT-legend, .RFWG-legend {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.DRT-legend-div, .RFWG-legend-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 68px;
  margin-top: 10px;
}

.DRT-legend-info, .RFWG-legend-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 180px;
  margin-bottom: 4px;
  margin-left: 3px;
  margin-right: 3px;
}

.samples-info-insufficient-data {
  background-color: lightgrey;
}

.samples-info-zero-percent {
  background-color: #727272;
}

.map-legend-DG {
  max-height: 250px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.map-legend-formcontrol-div {
  display: flex;
  flex-flow: row;
  justify-items: center;
}

.map-legend-formcontrol-div {
  display: flex;
  flex-flow: row;
  justify-items: center;
}

.map-legend-formcontrol-div-pad {
  padding-top: 5px;
}

.map-legend-formcontrol-label {
  padding-top: 0px;
  padding-bottom: 3px;
  display: flex;
  font-size: 12px;
  font-weight: 300;
  font-family: Montserrat;
  white-space: nowrap;
  flex-direction: column;
  justify-content: center;
}

.typhinet-logo {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-right: 16px;
}

.typhinet-logo-image {
  height: 90px;
  margin-bottom: -10px;
}

.card-padding {
  margin-right: 16px;
}

.composable-map {
  height: 100%;
  width: 100%;
}

.map-filters-label {
  font-weight: 600;
  font-size: 20px;
}

.margin-div {
  margin-top: 4px;
}

.margin-continent {
  margin-bottom: 15px;
}

.my-font {
  font-family: Montserrat;
}

.wrapper-map-legend {
  margin-top: 16px;
  margin-bottom: 8px;
}

.showing-data {
  text-align: center;
  padding-bottom: 10px;
}

.select-country-label {
  font-weight: 500;
  font-family: Montserrat;
  white-space: nowrap;
  font-size: 18px;
}

.chart-wrapper-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chart-wrapper-div2 {
  display: flex;
  margin-top: 16px;
}

.chart-wrapper-div3 {
  align-Items: center;
  display: flex;
  flex-Direction: column;
  flex: 0.5;
}

.chart-wrapper-DRT, .chart-wrapper-RFWA {
  height: 750px;
  width: 100%;
  max-width: 920px;
  display: flex;
  flex-direction: column;
}

.chart-wrapper-RDWAG, .chart-wrapper-GD {
  height: 700px;
  width: 100%;
  max-width: 920px;
  display: flex;
  flex-direction: column;
}

.chart-wrapper-RDWAG, .chart-wrapper-GD {
  padding-top: 50px;
}

.chart-wrapper-RFWA-div , .chart-wrapper-RDWAG-div, .chart-wrapper-DRT-div, .chart-wrapper-GD-div {
  width: 100%;
  flex-direction: row;
  text-align: center;
  display: flex;
  justify-content: center;
}

.chart-wrapper-RFWA-title, .chart-wrapper-RDWAG-title, .chart-wrapper-DRT-title, .chart-wrapper-GD-title {
  padding-left: 35px;
  padding-right: 15px;
  height: 45px;
}

.chart-wrapper-RFWA-download, .chart-wrapper-RDWAG-download, .chart-wrapper-DRT-download, .chart-wrapper-GD-download {
  display: inline-block;
  position: relative;
}

.chart-wrapper-RFWA-download div, .chart-wrapper-RDWAG-download div, .chart-wrapper-DRT-download div, .chart-wrapper-GD-download div {
  margin-top: 0;
  height: 33px;
  width: 33px;
}

.chart-wrapper-RFWA-top, .chart-wrapper-RDWAG-top {
  height: 14px;
  padding-bottom: 15px;
  padding-top: 10px;
  font-size: 10px;
  font-weight: 400;
}

.chart-wrapper-RFWA-view, .chart-wrapper-DRT-view {
  height: 107px;
  align-self: center;
}

.chart-wrapper-RDWAG-view {
  height: 126px;
  align-self: center;
}

.chart-wrapper-GD-view {
  height: 57px;
  align-self: center;
}

.dropdown-select {
  font-size: 15px;
  font-weight: 500;
}

.chart-wrapper-GD-space {
  height: 13px;
  padding-bottom: 15px;
  padding-top: 10px;
}

.chart-wrapper-DRT-view-drugs {
  display: flex;
  flex-flow: row;
  justify-items: center;
}

.chart-wrapper-DRT-view-drugs-label {
  padding-top: 0px;
  padding-bottom: 5px;
  margin-top: 5px;
  display: flex;
  font-size: 12px;
  font-weight: 300;
  font-family: Montserrat;
  white-space: nowrap;
  flex-direction: column;
  justify-content: center;
}

.chart-wrapper-DRT-view-drugs-select {
  font-weight: 600;
  font-family: Montserrat;
  font-size: 15px;
}

.chart-wrapper-DRT-view-drugs-select-options {
  margin: 10px;
  font-family: Montserrat;
}

#RFWG, #DRT {
  height: 582px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#RFWAG, #GD {
  height: 520px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrapper-download-sheet-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fontawesome-icon {
  margin-right: 8px;
}

.my-loader {
  padding-left: 10px;
}

.my-year-range {
  display: flex;
  flex-direction: row;
}

.my-divider {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.12);
  margin: 0px 4px 0px 4px;
}

.country-region-div {
  display:flex;
  justify-content: center;
}

.country-region-spacer {
  width: 50px;
  height: 50px;
}

.euFlagImage {
  margin-left: 5px;
}

.chartWidth{
  width: 90%;
}
