.project {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.1);
  padding: 16px;
  text-align: justify;
}

.logoImage {
  width: 40%;
  align-self: center;
}

@media (max-width: 767px) {
  .project {
    width: unset;
  }
}