html, body, .App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  font-family: Montserrat;
}

.menu-bar {
  width: 20%;
  height: 100%;
  background-color: whitesmoke;
  -webkit-box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.25);
  z-index: 10;
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.menu-bar .title {
  font-size: 26px;
  color: grey;
  font-weight: 800;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0;
  text-align: center;
}

.menu-bar .divider {
  background-color: grey;
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.menu-bar .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 18px;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 4px;
  transition: all 0.25s;
  cursor: pointer;
  color: grey;
  margin-bottom: 8px;
}

.menu-bar .item.active {
  background-color: rgb(31, 187, 211);
  color: white;
}

.menu-bar .item:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(31, 187, 211,0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(31, 187, 211,0.5);
  box-shadow: 0px 4px 10px 0px rgba(31, 187, 211,0.5);
}

.menu-bar .item span {
  font-weight: 600;
  margin-left: 8px;
}

.menu-bar .footer {
  position: fixed;
  bottom: 0;
  z-index: -5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
  margin-bottom: 1rem;
  opacity: 0.07;
}

.menu-bar .footer img {
  width: 40%;
  height: intrinsic;
}

.menu-bar .footer .msca {
  margin-left: 1rem;
  filter: brightness(0);
}

.content {
  display: flex;
  flex: 1;
  height: fit-content;
  min-height: 100%;
}

.logoImageMenu {
  width: 80%;
  align-self: center;
  margin-top: 0.5rem;
  margin-bottom: -1rem;
}

.logoImageMenu-mobile {
  height: 60px;
  align-self: center;
  margin-bottom: -6px;
}

@media (max-width: 767px) {

  .menu-bar {
    display: none;
  }

  .content {
    width: -webkit-fill-available;
    margin-left: 0;
    flex-direction: column;
  }
}